<div class= "wrapper">
 <div class= "header">
 <%= image_tag "login.jpg", class: "login" %>
 <%= image_tag "regstration.jpg", class: "regstration" %>
 </div>
 <div class= "main">
 <%= image_tag "title_logo.jpg", class: "title" %>
 </div>
</div> 