

<div class="all">
<%= render "shared/header"%>
 
 <div class= "main-tops">
 <%= image_tag "top_title_cat2.png", class: "title-tops mocchiri" %>
 <%= image_tag "characommu_haikei2.jpg", class: "haikei-tops moving" %>
 </div>
</div>
 
   