// Place all the styles related to the characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.character-img {
  width: 50vh;
  height: 66vh;
}

.character-name {
  font-size: 2.5vh;
}
