.main-new {
  z-index: 2;
  top: 100px;
  width: 100vw;
  height: 100vh ;
  position: relative;
  /*background-color: lightgray;*/
  overflow-y: scroll;
}

.character-new {
  background-color: white;
  height: 100vh ;
  width: 80vw;
  position: absolute;
  right: 10%;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  z-index: 9;
}

.charaform-new {
  /*background-color: coral;*/
  width: 22vw;
  height: 100vh;
  position: absolute;
  text-align: center;
}

.form-header-text_image {
  font-size: 24px;
  margin: 10px;
  margin-bottom: 35px;
  width: 100%;
}

.form-control-newchara {
  margin-top: 4vh;
}

.new-btn {
  margin-top: 7vh;
}

.sakusei_btn {
  height: 15%;
  width: 40%;
  margin-top: 30px;
}

.character-header {
  width: 5%;
  height: 20%;
  position: absolute;
  top: 30px;
  left: 330px;
 
}

.character-header2 {
  width: 5%;
  height: 20%;
  position: absolute;
  top: 30px;
  right: 330px;
 
}

.character-header3 {
  width: 5%;
  height: 20%;
  position: absolute;
  top: 200px;
  right: 220px;
  
}

.character-header4 {
  width: 5%;
  height: 20%;
  position: absolute;
  top: 30px;
  right: 130px;

}

.character-header5 {
  width: 5%;
  height: 20%;
  position: absolute;
  top: 200px;
  right: 320px;
 
}

.character-header6 {
  width: 8%;
  height: 20%;
  position: absolute;
  top: 30px;
  left: 310px;
}

.character-header_sanka {
  width: 5%;
  height: 20%;
  position: absolute;
  top: 0px;
  left: 330px;
}

.character-header_sanka2 {
  width: 5%;
  height: 20%;
  position: absolute;
  top: 0px;
  right: 330px;
}

.cover {
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 10;
  position: absolute;
}

.fadeout {
  animation: fadeout;
}

.hensyuu_rinkaku {
  width: 9%;
  height: 18%;
  position: absolute;
  left: 280px;
  top: 15px;
}

.hensyuu_face {
  width: 6%;
  height: 9%;
  position: absolute;
  left: 296px;
  top: 55px;
}

.hensyuu_face2 {
  width: 6%;
  height: 9%;
  position: absolute;
  left: 296px;
  top: 57px;
}

.hensyuu_face3 {
  width: 6%;
  height: 9%;
  position: absolute;
  left: 299px;
  top: 60px;
}

.hukidashi {
  width: 6%;
  height: 14%;
  position: absolute;
  top: 0px;
  right: 230px;
  transform: rotate( 90deg );
}

.kotoba {
  width: 4%;
  height: 4.5%;
  position: absolute;
  top: 25px;
  right: 240px;
}

.hukidashi_left {
  width: 6%;
  height: 14%;
  position: absolute;
  top: 0px;
  left: 230px;
  transform: rotate( 270deg );
}

.kotoba_left {
  width: 4%;
  height: 4.5%;
  position: absolute;
  top: 25px;
  left: 240px;
}

.kakomi-te2 {
  padding: 0.5em 0.75em;
  width: 100%; /*幅の調節*/
  border: 2px solid #DDDDDD; /*線の太さ・色*/
  border-radius: 3em .8em 3em .7em/.9em 2em .8em 3em;
 }
