// Place all the styles related to the characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main {
  z-index: 9;
  top: 100px;
  position: fixed;
  width: 100vw;
  height: calc(100vh - 100px);
 
}

main .character-contents {
  /*background-color: cornflowerblue;*/
  width: 100vw;
  height: 100vh ;
}

main .character-title-space {
/*background-color: lightblue;*/
  position: relative;
  display: flex;
  height: 80px;
}

main .title {
  position: absolute;
  width: 20%;
  top: 10%;
  left: 40%;
  transform: translate(-50%,-50%);
}

main .character-main {
  position: relative;
  /*background-color: lightgray;*/
  height: calc(100vh - 130px);
  
}

main .character-space {
  background-color: #FFFFFF;
  height: calc(100vh - 180px);
  width: 80vw;
  right: 10%;
  position: absolute;
  overflow-y: scroll;
}

main .character-img-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; 
}

main .character-img {
  width: 17.5vw;
  height: 50vh;
  margin-top: 50px;
}

main .character-img:hover {
  filter: opacity(40%);
}

.character-name {
  font-size: 10%;
}

main .character-btn {
  position: absolute;
  width: 8%;
  height: 40%;
  right: 300px;
  top: 17px;
 
}

main .character-room-btn {
  position: absolute;
  width: 8%;
  height: 40%;
  right: 150px;
  top: 17px;
}
