
header {

  z-index: 15;
  position: fixed;
  top: 0%;
}

body {
  margin: 0;
  padding: 0;
}



header .container-fuild {
  height: 100px;
  width: 100vw;
  display: flex;
}

.title-tops {
  width: 60%;
  height: 100%;
  left: 350px;
  top: 0px;
  position: absolute;
  z-index: 5
}

.haikei-tops {
  width: 170%;
  height: 200%;
  position: absolute;
  bottom: 0px;

}

header .login-tops {
  z-index: 20;
  width: 8%;
  height: 40%;
  right: 300px;
  position: absolute;
  top: 30px;
}

header .registration-tops {
  width: 8%;
  height: 40%;
  right: 140px;
  position: absolute;
  top: 30px;
}

header .logout-tops {
  width: 8%;
  height: 40%;
  right: 140px;
  position: absolute;
  top: 30px;
}

header .user-nickname-tops {
  z-index: 2;
  width: 10%;
  height: 60%;
  right: 200px;
  position: absolute;
  top: 50px;
}

@keyframes moving {
  100% {transform: translateX(-960px)};
}

.moving {
  animation: moving 10s linear infinite;
}

.mocchiri {
  animation: mocchiri 3s infinite;
}

@keyframes mocchiri {
  0% {
      transform: scale(1, 0.8);
  }
  20% {
      transform: scale(0.8, 1.1);
  }
  95% {
      transform: scale(1, 1);
  }
  100% {
      transform: scale(1, 0.8);
  }
}

.bururi {
  animation: bururi 1s infinite;
}
@keyframes bururi {
  50% {
      transform: scale(1, 1);
  }
  52% {
      transform: scale(0.98, 0.95)
  }
  54% {
      transform: scale(1, 1);
  }
  56% {
      transform: scale(0.98, 0.95)
  }
  58% {
      transform: scale(1, 1);
  }
  60% {
      transform: scale(0.98, 0.95)
  }
}

.dokidoki {
  animation: dokidoki 1.5s infinite;
}
@keyframes dokidoki {
  0% {
      transform: scale(1.05)
  }
  5% {
      transform: scale(1)
  }
  95% {
      transform: scale(1)
  }
  100% {
      -webkit-transform: scale(1.25)
  }
}

.slidein {
  animation: slidein 0.5s cubic-bezier(0.25, 0.5, 0.5, 1) 1 forwards;
}

.slidein_2 {
  animation: slidein 1s cubic-bezier(0.25, 0.5, 0.5, 1) 1 forwards;
}

.slidein_3 {
  animation: slidein 2s cubic-bezier(0.25, 0.5, 0.5, 1) 1 forwards;
}
 
@keyframes slidein {
  0% {
    transform: translateX(180px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
  90%,100% {
    opacity: 1;
  }
}
/*.header-tops {
  width: 100vw;
  height: 30vh;
  position: relative;
  background-color: cadetblue;
  
}

.main-tops {
  width: 100vw;
  height: 80% ;
  position: relative;
  background-color: brown;
}

.title-tops {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 70px;
  left: 300px;
}

.login-tops {
  width: 10%;
  height: 50%;
  position: absolute;
  right: 100px;
  top: 30px;
}

.regstration-tops {
  width: 10%;
  height: 50%;
  position: absolute;
  right: 300px;
  top: 30px;
}*/