.header {
  width: 100vw;
  height: 80px;
  position: relative;
}

.main {
  width: 100vw;
  height: calc( 100vh - 80px );
  position: relative;
}

.title {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 70px;
  left: 300px;
}

.login {
  width: 10%;
  height: 50%;
  position: absolute;
  right: 100px;
  top: 30px;
}

.regstration {
  width: 10%;
  height: 50%;
  position: absolute;
  right: 300px;
  top: 30px;
}