<div class="wrapper">
  <div class="side-bar">
    <div class="side-bar-header">
    <div class="header-name">
      <%= link_to current_user.nickname, characters_path %>
    </div>
    <%= link_to image_tag("basyo_sakusei.jpg", class: "create-room"),new_place_path %>
    </div> 

  <div class="rooms">
    <div class="room">
    <% @places.each do |place| %>
      <div class="room-name">
    <%= link_to place.name, place_messages_path(place) %>
      </div>
    <p></p>
    <% end %>
    </div>  
  </div>
  </div> 
</div>